.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
}

.footer-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}

.social-icons {
    list-style-type: none;
    font-size: 20px;
}

@media(max-width:680px) {
    .footer {
        color: red;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-copywright {
        display: none;
    }
}