.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

svg {
    font-size: 26px;
    padding: 2px;
    cursor: pointer;
}

.left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

span {
    font-size: 20px;
}