.fork-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    flex-wrap: wrap;
}

.main-name {
    font-size: 25px;
}

button {
    font-size: 18px;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

@media(max-width:680px) {
    .fork-btn {
        padding: 5px;
        justify-content: space-evenly;
    }
}