@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

button,
input {
    font-family: 'Mulish', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 95%;
    margin: 0 auto;
    padding: 1rem 0;
}